[submodule "ack"]
	path = pack/autoload/start/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "securemodelines"]
	path = pack/autoload/start/securemodelines
	url = https://github.com/ciaranm/securemodelines.git
[submodule "syntastic"]
	path = pack/autoload/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim-airline"]
	path = pack/autoload/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim-bufferline"]
	path = bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "vim-dispatch"]
	path = pack/autoload/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim-fugitive"]
	path = pack/autoload/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-multiple-cursors"]
	path = pack/autoload/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim-nerdtree"]
	path = pack/autoload/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "nerdtree-ack"]
	path = pack/autoload/start/nerdtree-ack
	url = https://github.com/tyok/nerdtree-ack.git
[submodule "YouCompleteMe"]
	path = pack/autoload/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-indentguides"]
	path = pack/autoload/start/vim-indentguides
	url = https://github.com/thaerkh/vim-indentguides.git
[submodule "bundle/ayu-vim"]
	path = pack/autoload/start/ayu-vim
	url = https://github.com/ayu-theme/ayu-vim.git
